*.pyc
*.pyd
/venv/*
\venv\*
venv/Lib/site-packages/Levenshtein/__init__.py
venv/Lib/site-packages/Levenshtein/_levenshtein.c
venv/Lib/site-packages/Levenshtein/_levenshtein.h
venv/Lib/site-packages/Levenshtein/StringMatcher.py
venv/Lib/site-packages/pycrfsuite/__init__.py
venv/Lib/site-packages/pycrfsuite/_dumpparser.py
venv/Lib/site-packages/pycrfsuite/_logparser.py
venv/Lib/site-packages/python_crfsuite-0.9.7.dist-info/INSTALLER
venv/Lib/site-packages/python_crfsuite-0.9.7.dist-info/LICENSE.txt
venv/Lib/site-packages/python_crfsuite-0.9.7.dist-info/METADATA
venv/Lib/site-packages/python_crfsuite-0.9.7.dist-info/RECORD
venv/Lib/site-packages/python_crfsuite-0.9.7.dist-info/top_level.txt
venv/Lib/site-packages/python_crfsuite-0.9.7.dist-info/WHEEL
venv/Lib/site-packages/python_Levenshtein-0.12.0-py3.8.egg-info/dependency_links.txt
venv/Lib/site-packages/python_Levenshtein-0.12.0-py3.8.egg-info/entry_points.txt
venv/Lib/site-packages/python_Levenshtein-0.12.0-py3.8.egg-info/installed-files.txt
venv/Lib/site-packages/python_Levenshtein-0.12.0-py3.8.egg-info/namespace_packages.txt
venv/Lib/site-packages/python_Levenshtein-0.12.0-py3.8.egg-info/not-zip-safe
venv/Lib/site-packages/python_Levenshtein-0.12.0-py3.8.egg-info/PKG-INFO
venv/Lib/site-packages/python_Levenshtein-0.12.0-py3.8.egg-info/requires.txt
venv/Lib/site-packages/python_Levenshtein-0.12.0-py3.8.egg-info/SOURCES.txt
venv/Lib/site-packages/python_Levenshtein-0.12.0-py3.8.egg-info/top_level.txt
venv/Lib/site-packages/PyYAML-5.3.1.dist-info/INSTALLER
venv/Lib/site-packages/PyYAML-5.3.1.dist-info/LICENSE
venv/Lib/site-packages/PyYAML-5.3.1.dist-info/METADATA
venv/Lib/site-packages/PyYAML-5.3.1.dist-info/RECORD
venv/Lib/site-packages/PyYAML-5.3.1.dist-info/WHEEL
venv/Lib/site-packages/sklearn_crfsuite-0.3.6.dist-info/DESCRIPTION.rst
venv/Lib/site-packages/sklearn_crfsuite-0.3.6.dist-info/INSTALLER
venv/Lib/site-packages/sklearn_crfsuite-0.3.6.dist-info/METADATA
venv/Lib/site-packages/sklearn_crfsuite-0.3.6.dist-info/metadata.json
venv/Lib/site-packages/sklearn_crfsuite-0.3.6.dist-info/RECORD
venv/Lib/site-packages/sklearn_crfsuite-0.3.6.dist-info/REQUESTED
venv/Lib/site-packages/sklearn_crfsuite-0.3.6.dist-info/top_level.txt
venv/Lib/site-packages/sklearn_crfsuite-0.3.6.dist-info/WHEEL
venv/Lib/site-packages/sklearn_crfsuite/__init__.py
venv/Lib/site-packages/sklearn_crfsuite/_fileresource.py
venv/Lib/site-packages/sklearn_crfsuite/compat.py
venv/Lib/site-packages/sklearn_crfsuite/estimator.py
venv/Lib/site-packages/sklearn_crfsuite/metrics.py
venv/Lib/site-packages/sklearn_crfsuite/scorers.py
venv/Lib/site-packages/sklearn_crfsuite/trainer.py
venv/Lib/site-packages/sklearn_crfsuite/utils.py
venv/Lib/site-packages/tabulate-0.8.7.dist-info/entry_points.txt
venv/Lib/site-packages/tabulate-0.8.7.dist-info/INSTALLER
venv/Lib/site-packages/tabulate-0.8.7.dist-info/LICENSE
venv/Lib/site-packages/tabulate-0.8.7.dist-info/METADATA
venv/Lib/site-packages/tabulate-0.8.7.dist-info/RECORD
venv/Lib/site-packages/tabulate-0.8.7.dist-info/top_level.txt
venv/Lib/site-packages/tabulate-0.8.7.dist-info/WHEEL
venv/Lib/site-packages/tabulate.py
venv/Lib/site-packages/tqdm-4.48.0.dist-info/entry_points.txt
venv/Lib/site-packages/tqdm-4.48.0.dist-info/INSTALLER
venv/Lib/site-packages/tqdm-4.48.0.dist-info/LICENCE
venv/Lib/site-packages/tqdm-4.48.0.dist-info/METADATA
venv/Lib/site-packages/tqdm-4.48.0.dist-info/RECORD
venv/Lib/site-packages/tqdm-4.48.0.dist-info/top_level.txt
venv/Lib/site-packages/tqdm-4.48.0.dist-info/WHEEL
venv/Lib/site-packages/tqdm/__init__.py
venv/Lib/site-packages/tqdm/__main__.py
venv/Lib/site-packages/tqdm/_main.py
venv/Lib/site-packages/tqdm/_monitor.py
venv/Lib/site-packages/tqdm/_tqdm.py
venv/Lib/site-packages/tqdm/_tqdm_gui.py
venv/Lib/site-packages/tqdm/_tqdm_notebook.py
venv/Lib/site-packages/tqdm/_tqdm_pandas.py
venv/Lib/site-packages/tqdm/_utils.py
venv/Lib/site-packages/tqdm/_version.py
venv/Lib/site-packages/tqdm/asyncio.py
venv/Lib/site-packages/tqdm/auto.py
venv/Lib/site-packages/tqdm/autonotebook.py
venv/Lib/site-packages/tqdm/cli.py
venv/Lib/site-packages/tqdm/completion.sh
venv/Lib/site-packages/tqdm/contrib/__init__.py
venv/Lib/site-packages/tqdm/contrib/bells.py
venv/Lib/site-packages/tqdm/contrib/concurrent.py
venv/Lib/site-packages/tqdm/contrib/discord.py
venv/Lib/site-packages/tqdm/contrib/itertools.py
venv/Lib/site-packages/tqdm/contrib/telegram.py
venv/Lib/site-packages/tqdm/contrib/utils_worker.py
venv/Lib/site-packages/tqdm/gui.py
venv/Lib/site-packages/tqdm/keras.py
venv/Lib/site-packages/tqdm/notebook.py
venv/Lib/site-packages/tqdm/std.py
venv/Lib/site-packages/tqdm/tqdm.1
venv/Lib/site-packages/tqdm/utils.py
venv/Lib/site-packages/yaml/__init__.py
venv/Lib/site-packages/yaml/composer.py
venv/Lib/site-packages/yaml/constructor.py
venv/Lib/site-packages/yaml/cyaml.py
venv/Lib/site-packages/yaml/dumper.py
venv/Lib/site-packages/yaml/emitter.py
venv/Lib/site-packages/yaml/error.py
venv/Lib/site-packages/yaml/events.py
venv/Lib/site-packages/yaml/loader.py
venv/Lib/site-packages/yaml/nodes.py
venv/Lib/site-packages/yaml/parser.py
venv/Lib/site-packages/yaml/reader.py
venv/Lib/site-packages/yaml/representer.py
venv/Lib/site-packages/yaml/resolver.py
venv/Lib/site-packages/yaml/scanner.py
venv/Lib/site-packages/yaml/serializer.py
venv/Lib/site-packages/yaml/tokens.py
venv/Scripts/tabulate.exe
venv/Scripts/tqdm.exe
*.pyc
*.pyc
*.json
*.json
*.xml
venv/share/jupyter/nbextensions/jupyter-js-widgets/extension.js
*.map
*.gz
*.js
*.png
*.json
morphology/.DS_Store
venv/Lib/site-packages/pip-20.2.dist-info/top_level.txt
venv/Lib/site-packages/pip-20.2.dist-info/RECORD
